*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", cursive;
    font-size: 13px;
}
body {
    width: 994px;
    margin: auto;;
}
h1, h2, h3, h4, h5, h6 {
        font-family: "Terminal Dosis", cursive;
        font-size: 52px;
}
h1 {
    margin-top: 50px;
}
h2 {
    font-size: 15px;
}
nav ul li {
    list-style:none;
    background-color: #A6A6A6;
    height: 59px;
    text-align: center;
    width: 124px;
    vertical-align: middle;
    padding: 20px 0;
    display: inline-block;
}
h3 {
    text-align: center;
    font-size: 25px;
}
h4 {
    font-size: 12px;
    color: #606060;
    text-align: center;
}
h4 span {
    color: #505050;
}
/*#menuderoulant {
  text-align: center;
  background-color: #A6A6A6;
  height: 59px;
  text-align: center;
  width: 124px;
  vertical-align: middle;
  padding: 20px 0;
  display: inline-block;
}
#menuderoulant ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menuderoulant li {
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   display: inline-block;
}
#menuderoulant li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menuderoulant a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menuderoulant ul li a, #menuderoulant li:hover li a {
  font-size:1em
}
#menuderoulant li:hover {
   background: #729EBF
}
#menuderoulant li li:hover {
   background: #999;
}
#menuderoulant ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menuderoulant li:hover li {
  max-height: 15em;
}*/

nav {
    background-color: #A6A6A6;
    width: 900px;

}
h5 {
    font-size: 12px;
    text-align: center;
}
h6 {
    font-size: 15px;
}
.fourcolumns {
  width: 25%;
  font-size: 14px;
  display: inline-block;
  list-style: none;
}
